<div class="container">
  <div class="row"
    <div class='col-md-12'>
      <%= render partial: "partials/navbar.html.erb"%>
    </div>


    <div class="col-md-5"><%= image_tag(current_user.avatar, class: "profile-pic")%></div>
    <div class="col-md-6">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#contributions" aria-controls="home" role="tab" data-toggle="tab">Contributions</a></li>
        <li role="presentation"><a href="#repositories" aria-controls="profile" role="tab" data-toggle="tab">Repositories</a></li>
        <li role="presentation"><a href="#activity" aria-controls="messages" role="tab" data-toggle="tab">Activity</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="contributions">
          <h4><%= @gsm.total_commits %></h4></br>
          <% @gsm.commits.each do |commit| %>
          <ul class="list-group">
          <li class="list-group-item"><%= commit %></li>
          </ul>
          <% end %>
        </div>

        <div role="tabpanel" class="tab-pane" id="repositories">
          <% @gsm.repos.each do |repo| %>
          <ul class="list-group">
            <li class="list-group-item"><%= repo %></li>
          </ul>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="activity">Friend</div>
      </div>

    </div>
  </div>
  <h4><%= current_user.name%></h4>
  <!-- <div class=> -->
  <div class="col-md-1"><h5>Followers: <%= link_to @gsm.follower_count, class:"text"%></h5></div>
  <div class="col-md-1"><h5>Starred: <%= link_to @gsm.starred_count%></h5></div>
  <div class="col-md-1"><h5>Following: <%= link_to @gsm.following_count%></h5></div>
  <!-- </div> -->
</div>
