<div class="container">
  <div class="row"
    <div class='col-md-12'>
      <%= render partial: "partials/navbar.html.erb"%>
    </div>


    <div class="col-md-5"><%= image_tag(current_user.avatar, class: "profile-pic")%>
      <h4><%= current_user.name%></h4>
      <div class="row"
     <div>
      <div class="col-md-2"><h5>Followers: <%= link_to @gsm.follower_count, followers_path, class:"text"%></h5></div>
      <div class="col-md-2"><h5>Starred: <%= @gsm.starred_count%></h5></div>
      <div class="col-md-2"><h5>Following: <%= link_to @gsm.following_count, following_path%></h5></div>
    </div>
    <!-- </div> -->
      <div class="row">
        Organizations:
        <% @gsm.organizations.each do |organization| %>
          <%= image_tag(organization.avatar_url, class: "organization-avatar")%>
          <% end %>
      </div>
    </div>
    <div class="col-md-6">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#contributions" aria-controls="home" role="tab" data-toggle="tab">Contributions</a></li>
        <li role="presentation"><a href="#repositories" aria-controls="profile" role="tab" data-toggle="tab">Repositories</a></li>
        <li role="presentation"><a href="#activity" aria-controls="messages" role="tab" data-toggle="tab">Friend Activity</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="contributions">
          <h4><%= @gsm.total_commits %></h4></br>
          <%= render partial: "partials/iterator.html.erb", locals: {activity: @gsm.commits}%>
        </div>

        <div role="tabpanel" class="tab-pane" id="repositories">
          <%= render partial: "partials/iterator.html.erb", locals: {activity: @gsm.repos}%>
        </div>

        <div role="tabpanel" class="tab-pane" id="activity">
          <%= render partial: "partials/iterator.html.erb", locals: {activity: @gsm.following_events}%>
        </div>
      </div>

    </div>
  </div>
</div>
